{% extends "layout.html" %}

{% block title %}
    Update Athlete Account
{% endblock %}

{% block main %}
<div class="container">
    <!-- Button to go back to the homepage -->
    <div class="text-center mb-4">
        <a href="/" class="btn btn-secondary">Back to Homepage</a>
    </div>

    <h1 class="text-center mb-4">Update Account</h1>

    <!-- Form for updating the account details -->
    <form action="/update-account" method="post" class="mx-auto" style="max-width: 400px;">
        <input type="hidden" name="athlete_id" value="{{ athlete.id }}">

        <!-- Input field for the username -->
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" value="{{ athlete.username }}" type="text" required>
        </div>

        <!-- Input field for the password -->
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input class="form-control" name="password" placeholder="Password" type="password" required>
        </div>

        <!-- Input field for confirming the password -->
        <div class="mb-3">
            <label for="confirmation" class="form-label">Confirm Password</label>
            <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password" required>
        </div>

        <!-- Input field for planned training hours -->
        <div class="mb-3">
            <label for="planned_hours" class="form-label">Planned Training Hours</label>
            <input class="form-control" name="planned_hours" placeholder="Planned Training Hours" value="{{ athlete.planned_hours }}"type="number" min="0" max="8760">
        </div>

        <!-- Input field for the athlete's graduation year -->
        <div class="mb-3">
            <label for="graduation_year" class="form-label">Graduation Year</label>
            <input class="form-control" name="graduation_year" placeholder="Graduation Year" type="number" min="2025" max="2028" value="{{ athlete.graduation_year }}">
        </div>

        <!-- Submit button to update the account -->
        <button class="btn btn-primary w-100" type="submit">Update Account</button>
    </form>
</div>


{% endblock %}
